LOG_PRETTY=true
SECRETS_PATH='./vault/secrets/secrets.json'

SNOWFLAKE_USERNAME=your_username@chrobinson.com

# Snowflake connection details (required for Azure AD OAuth)
SNOWFLAKE_ACCOUNT=https://prod_chrobinson.east-us-2.azure.snowflakecomputing.com
SNOWFLAKE_SCOPE=https://prod_chrobinson.east-us-2.azure.snowflakecomputing.com/.default

# Environment (development or production)
AIRFLOW_ENV=development
